<header class="header" id="header">
  <nav class="custom-nav custom-nav-small navbar navbar-expand-lg navbar-light bg-white" id="nav">
    <a class="navbar-brand" href="index.html"><img src="assets/24-25/rec logo.png" alt="" class="img-fluid"
        style="filter: drop-shadow(grey 0rem 0rem 20px);" /></a>

    <div class="nav-menu collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li><a href="index.html">Home</a></li>
        <li class="drop-down">
          <a href="aboutus.html">About</a>
          <ul>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="crew.html">Our Team</a></li>
            <li><a href="avenues.html">Our Avenues</a></li>
          </ul>
        </li>
        <li><a href="events.html">Events</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="knowledge.html">Knowledge Center</a></li>
      </ul>
    </div>
    <div class="dropdown34">
      <button class="dropdown-toggle34">☰</button>
      <div class="dropdown-menu34">
        <a href="index.html">Home</a>
        <div class="drop-down">
          <a href="aboutus.html">About</a>
          <ul>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="crew.html">Our Team</a></li>
            <li><a href="avenues.html">Our Avenues</a></li>
          </ul>
          <a href="events.html">Events</a>
          <a href="gallery.html">Gallery</a>
          <a href="knowledge.html">Knowledge Center</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="icon-bar">
  <a href="https://www.instagram.com/rotaractrec/" class="instagram"><i class="fa fa-instagram"></i></a> 
  <a href="https://open.spotify.com/show/3xHrf67AidaTkJSb6AuocT" class="spotify"><i class="fa fa-spotify"></i></a> 
  <a href="https://www.linkedin.com/company/rotaract-rec/" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/rotaractrec/" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="https://www.youtube.com/channel/UCz7H2B_WxlwvoVwWtqCSpVQ" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>
<script>
  window.addEventListener("scroll", function () {
    const nav = document.querySelector(".custom-nav");
    if (window.scrollY > 50) {
      nav.classList.remove("custom-nav-small");
      nav.classList.add("custom-nav-large");
    } else {
      nav.classList.remove("custom-nav-large");
      nav.classList.add("custom-nav-small");
    }
  });

  const dropdownToggle = document.querySelector('.dropdown-toggle34');
  const dropdown = document.querySelector('.dropdown34');

  dropdownToggle.addEventListener('click', () => {
    dropdown.classList.toggle('active');
  });
</script>
