.avenue-heading {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.avenue-text {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 16px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.avenue-card {
  height: 100%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  align-items: flex-end;
  text-decoration: none;
  border: 4px solid #b0215e;
  margin: 0 40px 20px 40px;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.avenue-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-sizing: border-box;
  padding: 40px;
}

.avenue-title {
  font-size: 24px;
  color: #8d163f;
  text-align: center;
  font-weight: 700;
  position: relative;
  margin: 0 0 20px 0;
}

.avenue-subtitle {
  color: #b0215e;
  text-align: center;
}

/* Avenue-specific background images */
.club-service {
  background-image: url("../assets/24-25/ouravenues/clubbanner.png");
}

.community-service {
  background-image: url("../assets/24-25/ouravenues/combanner.png");
}

.professional-service {
  background-image: url("../assets/24-25/ouravenues/profbanner.png");
}

.international-service {
  background-image: url("../assets/24-25/ouravenues/intlbanner.png");
}

@media (max-width: 768px) {
  .avenue-heading {
    font-size: 2rem;
  }

  .avenue-text {
    font-size: 1rem;
  }

  .avenue-card-inner {
    width: 100%;
  }

  .avenue-title {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .avenue-heading {
    font-size: 1.75rem;
    line-height: 1.3;
  }

  .avenue-text {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
